:root {
    --primary-color: rgb(135, 162, 193);
    --secondary-color: rgb(98, 98, 98);
    --tertiary-color: rgb(237, 115, 36);
    --offwhite: rgb(247, 239, 214);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}


/* Header style */

header {
    padding: 3vh 2vh;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: var(--secondary-color);
}

header h1 {
    color: var(--offwhite);
    font-weight: lighter;
    font-size: 40px;
    padding: 0 3vw 0 1vw;
}

header a {
    text-decoration: none;
    color: var(--tertiary-color);
}

header nav {
    margin: 7px 0;
    padding: 0 40px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    color: var(--primary-color);
    border-bottom: 4px solid var(--secondary-color);
    font-size: 18px;
    margin: 5px;
    padding: 10px 15px;
    font-weight: bold;
}

header a:hover {
    color: gray;
}


/* hero */

.hero {
    background-image: url("../images/banner1.jpg");
    background-size: cover;
    height: 400px;
    position: relative;
}

.hero .subtitle {
    position: absolute;
    bottom: 20px;
    right: 80px;
    padding: 5px;
    font-size: 20px;
    color: var(--offwhite);
}


/*Body style */

.outer-grid {
    width: 90%;
    margin: 0 auto;
}

.section-title {
    font-size: 36px;
    padding: 0 10px 40px 30px;
    border-right: 4px solid var(--secondary-color);
    margin: 10px auto;
    text-align: end;
    flex: 1;
}

.section-content {
    flex: 4;
    padding: 0 35px;
}

.bio img {
    height: 300px;
    width: 300px;
    border-radius: 50%;
}

.bio p {
    line-height: 1.7;
    flex-basis: 80%;
    font-size: 18px;
    margin: 0 auto;
}

.project-grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(200px, auto);
    grid-gap: 10px;
}

.project-grid-item {
    border: 5px solid var(--secondary-color);
    font-size: 35px;
    background-position: center;
    background-size: 100% 100%;
    position: relative;
}

.project-grid-item .grid-text {
    position: absolute;
    background: var(--offwhite);
    bottom: 20px;
    padding: 10px;
}

.grid-text h3 {
    font-size: 28px;
}

.grid-text p {
    font-size: 18px;
}

.item-1 {
    background-image: url("../images/runbuddy.jpg");
    grid-column: 1/3;
    grid-row: 1/3;
    background-position: top;
    position: relative;
}

.project-grid-item span {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.project-grid-item span::after {
    content: "";
    height: 100%;
    width: 100%;
    background: var(--primary-color);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.35;
    transition: 0.5s;
}

.project-grid-item:hover span::after {
    background: var(--offwhite);
    opacity: 0;
}

.item-2 {
    background-image: url("../images/devto.jpg");
}

.item-3 {
    background-image: url("/assets/images/lead-generation.png");
}

.item-4 {
    background-image: url("../images/online-reputation-management.jpg");
}

.item-5 {
    background-image: url("../images/social-media-marketing.jpg");
}

footer h2 {
    font-weight: bold;
    font-size: 40;
}

.sm-list {
    list-style: none;
    display: inline-flex;
    text-align: center;
    flex-direction: row;
}

footer ul li a {
    text-decoration: none;
    color: var(--offwhite);
    border-bottom: 4px solid var(--primary-color);
    font-size: 18px;
    font-weight: bold;
    margin: 10px;
}

.footer-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: row;
    margin: 15px 0;
}


/*Media Queries*/

@media only screen and (max-width: 1060px) {
    .container {
        height: auto;
        display: table;
        margin: 10px auto;
        text-align: center;
    }
    .section-title {
        padding: 10px;
        margin-bottom: 10px;
        font-size: 30px;
        text-align: center;
        border: none;
        border-bottom: 4px solid var(--primary-color);
        width: 70%;
    }
    .section-content {
        padding: 10px;
        text-align: center;
    }
    .project-grid-container {
        width: 800px;
        margin: 10px auto;
    }
    .project-grid-item span::after {
        display: none;
    }
    .footer-links {
        margin: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (max-width: 980px) {
    .footer-links {
        margin: 20px;
    }
    header {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    header h1 {
        padding: 2px 30px;
    }
    header nav {
        margin: 15px 0;
    }
    .container {
        height: auto;
        display: table;
        margin: 10px auto;
        text-align: center;
    }
    .section-title {
        padding: 10px;
        margin-bottom: 10px;
        font-size: 30px;
        text-align: center;
        border: none;
        border-bottom: 4px solid var(--primary-color);
        width: 70%;
    }
    .section-content {
        padding: 10px;
        text-align: center;
    }
    .project-grid-container {
        width: 650px;
        margin: 10px auto;
    }
    .project-grid-item .grid-text {
        padding: 2px;
    }
    .grid-text h3 {
        font-size: 20px;
    }
    .grid-text p {
        font-size: 14px;
    }
    footer ul li a {
        font-size: 16px;
        margin: 10px 10px;
    }
    .footer-links {
        margin: 10px;
    }
}

@media only screen and (max-width: 768px) {
    header {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    header h1 {
        padding: 2px 30px;
    }
    header nav {
        margin: 15px 0;
    }
    .container {
        height: auto;
        display: table;
        margin: 10px auto;
        text-align: center;
    }
    .section-title {
        padding: 10px;
        margin-bottom: 10px;
        font-size: 30px;
        text-align: center;
        border: none;
        border-bottom: 4px solid var(--primary-color);
        width: 70%;
    }
    .section-content {
        padding: 10px;
        text-align: center;
    }
    .project-grid-container {
        width: 500px;
        margin: 10px auto;
    }
    .project-grid-item .grid-text {
        padding: 2px;
    }
    .grid-text h3 {
        font-size: 20px;
    }
    .grid-text p {
        font-size: 14px;
    }
    footer ul li a {
        font-size: 14px;
        margin: 5px 5px;
    }
    .footer-links {
        margin: 10px;
    }
}

@media only screen and (max-width: 575px) {
    header h1 {
        text-align: center;
    }
    header nav ul li a {
        padding: 0;
    }
    .project-grid-container {
        width: 450px;
        margin: 10px auto;
        grid-auto-rows: minmax(150px, auto);
        grid-gap: 5px;
    }
    .grid-text h3 {
        font-size: 12px;
    }
    .grid-text p {
        font-size: 10px;
    }
    footer ul li a {
        font-size: 12px;
        margin: 5px 5px;
    }
}